In [ ]:
import pandas as pd
import numpy as np

## Series

Она представляет из себя объект, похожий на одномерный массив, но отличительной чертой является наличие индексов. Индекс находится слева, а сам элемент справа.

### Синтаксис создания:

- pandas.Series(input_data, index, data_type)
- input_data: ввод в виде списка, константы, массива NumPy, Dict и т. д.
- index: значения индексов.
- data_type (опционально): тип данных.

In [3]:
a = pd.Series([4, 7, 6, 3, 9],
              index=['one', 'two', 'three', 'four', 'five'])
a

one      4
two      7
three    6
four     3
five     9
dtype: int64

In [4]:
a = pd.Series([4, 7, 6, 3, 9])
a

0    4
1    7
2    6
3    3
4    9
dtype: int64

In [5]:
a.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
a.values

array([4, 7, 6, 3, 9], dtype=int64)

In [12]:
a[0]

4

In [8]:
a[0]

7

## DataFrame

Объект DataFrame является табличной структурой данных. В любой таблице всегда присутствуют строки и столбцы. При этом в столбцах можно хранить данные разных типов данных. Столбцами в объекте DataFrame выступают объекты Series, строки которых являются их элементами.

## Синтаксис создания:

### pandas.DataFrame(input_data, index)

- input_data: ввод в виде Dict, 2D массива NumPy, Series и т. д.
- index: значения индексов.

In [15]:
df = pd.DataFrame({
    'Age': [46, 37, 44, 42, 42],
    'Country': ['Spain', 'Spain', 'Germany', 'Germany', 'France'],
    'Gender': ['Female', 'Female', 'Male', 'Male', 'Male']
})
df

   Age  Country  Gender
0   46    Spain  Female
1   37    Spain  Female
2   44  Germany    Male
3   42  Germany    Male
4   42   France    Male

In [14]:
df['Age']

0    46
1    37
2    44
3    42
4    42
Name: Age, dtype: int64

In [16]:
df.Country

0      Spain
1      Spain
2    Germany
3    Germany
4     France
Name: Country, dtype: object

In [17]:
df[['Country', 'Age']]

   Country  Age
0    Spain   46
1    Spain   37
2  Germany   44
3  Germany   42
4   France   42

In [18]:
df.columns

Index(['Age', 'Country', 'Gender'], dtype='object')

In [19]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [20]:
df = pd.DataFrame({
    'Age': [46, 37, 44, 42, 42],
    'Country': ['Spain', 'Spain', 'Germany', 'Germany', 'France'],
    'Gender': ['Female', 'Female', 'Male', 'Male', 'Male']
}, index=[5, 4, 6, 3, 2])

df

   Age  Country  Gender
5   46    Spain  Female
4   37    Spain  Female
6   44  Germany    Male
3   42  Germany    Male
2   42   France    Male

In [21]:
df.index = [101, 102, 103, 104, 105]
df

     Age  Country  Gender
101   46    Spain  Female
102   37    Spain  Female
103   44  Germany    Male
104   42  Germany    Male
105   42   France    Male

## Считывание данных

В целом, pandas поддерживает все самые популярные форматы хранения данных: csv, excel, sql, html и многое другое, но чаще всего приходится работать именно с csv файлами (comma separated values).

Будем работать с датасетом по оттоку клиентов из банка https://www.kaggle.com/datasets/shubh0799/churn-modelling.

#### Характеристики каждого клиента:

1. RowNumber - Номер строки
2. CustomerId - Уникальный идентификатор клиента
3. Surname - Фамилия клиента
4. CreditScore - Кредитная оценка клиента
5. Geography - Из какой страны клиент
6. Gender - Пол клиента
7. Age - Возраст клиента
8. Tenure - Сколько лет человек является клиентом банка
9. Balance - Баланс счета
10. NumOfProducts - Количество открытых продуктов
11. HasCrCard - Есть ли у клиента кредитная карта
12. IsActiveMember - Является ли клиент активные участником
13. EstimatedSalary - Предположительная зарплата клиента
14. Exited - Уйдет ли человек в отток

In [ ]:
df = pd.read_csv('./Churn_Modelling.csv')
df

In [ ]:
pd.read_csv('./Churn_Modelling.csv', header=1)

In [ ]:
pd.read_csv('./Churn_Modelling.csv', sep=';')

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.sample()

In [ ]:
df.sample(frac=1)

In [ ]:
df.sample(frac=0.5)

In [ ]:
df.shape

## Первичный анализ данных
#### Типы данных:

- int: целочисленные значения. Пример: 9, 56, 30
- float: вещественные значения (с плавающей точкой). Пример: 7.3, 9.0, 45.334
- object/str: строковые значения. Пример: ‘hello, world’, ‘50 000’

In [ ]:
df.info()

#### Выводятся значения:

- Count - количество непропущенных объектов (там, где нет nan значений)
- mean - арифметическое среднее
- std - стандартное отклонение
- min - минимальное значение
- 25% - квантиль 25 процентов
- 50% - квантиль 50 процентов или же медиана
- 75% - квантиль 75 процентов
- max - максимальное значение

In [ ]:
df.describe()

In [ ]:
df['Age'].min()

In [ ]:
df['Balance'].max()

In [ ]:
df[['CreditScore', 'Age', 'Tenure']].mean()

#### Получаем 4 значения:

- count - количество непропущенных объектов
- unique - количество уникальных значений
- top - самое частотное значение (мода)
- freq - частота появления самого частотного значения

In [ ]:
df.describe(include=['object'])

In [ ]:
df.dtypes

In [ ]:
df['Age'].dtype

In [ ]:
df['HasCrCard'].astype('bool')

In [ ]:
df['HasCrCard'] = df['HasCrCard'].astype('bool')

In [ ]:
df['HasCrCard'].dtype

In [ ]:
df['Geography'].unique()

In [ ]:
df['Geography'].nunique()

In [ ]:
df['Geography'].value_counts()

In [ ]:
df['Geography'].value_counts(normalize=True)

### Фильтрация
#### Фильтрация в pandas основывается на булевых масках.

##### Булевая маска — бинарные данные, которые используются для выбора определенных объектов из структуры данных.

In [ ]:
df['Gender'] == 'Male'

In [ ]:
male = df[df['Gender'] == 'Male']
male

## Логические И
##### При операторе & нужно, чтобы выполнялось два условия одновременно:

In [ ]:
df[(df['Gender'] == 'Female') & (df['NumOfProducts'] >= 3)]

## Логические ИЛИ
##### При операторе | нужно, чтобы выполнялось хотя бы одно условие:

In [ ]:
df[(df['HasCrCard']) | (df['NumOfProducts'] >= 3)]

## Логические НЕ
#### При операторе ~ булевая маска обращается: True меняется на False и наоборот:

In [ ]:
df[~(df['Geography'] == 'Spain')]

In [ ]:
df[df['Geography'].isin(['France', 'Germany'])]

## Индексация

In [ ]:
df_small = df[(df['Geography'] == 'Spain')][['Geography', 'Gender', 'Age']]
df_small.head()

## loc

In [ ]:
df_small.loc[1]

In [ ]:
df_small.loc[3]

In [ ]:
df_small.loc[[1, 4, 5], ['Gender', 'Age']]

## iloc

In [ ]:
df_small.head()

In [ ]:
df_small.iloc[[0, 1, 2]]

In [ ]:
df_small.iloc[2500]

In [ ]:
df_small.iloc[0, [0, 2]]

## Сортировки

In [ ]:
df.sort_values('Age')

In [ ]:
df.sort_values('Age', ascending=False)

In [ ]:
df.sort_values(['Age', 'CreditScore'])